<!-- Banner start -->
<div class="banner">
  <div class="container-fluid">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000"
               *ngFor="let item of bannerApiResults; let i=index"
               [ngClass]="{active: i===0}">
            <img src="https://image.tmdb.org/t/p/original/{{item.backdrop_path}}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2>{{item.original_title || item.title || item.name}}</h2>
              <p>{{item.overview}}</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  </div>
</div>
<!-- Banner end -->

<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-12">
      <h3 class="mx-3">Trending Movies</h3>
      <div class="poster">
        <ng-container *ngFor="let item of trendingMovieApiResults">
          <img src="https://image.tmdb.org/t/p/original/{{item.poster_path}}" class="rowimg largeposter" alt="{{item.original_title || item.title || item.name}}">
        </ng-container>
      </div>
    </div>
  </div>
</div>
